# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
mlopsenv/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Data files (optional: keep or remove based on need)
*.csv

# Model files
*.pkl
*.joblib

# Temporary files
*.tmp